/*style.css*/

.button {
    -fx-background-color: #d58c84;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 2);
    -fx-text-fill: #fffcfc;
    -fx-transition: 0.3s;
}

.button:hover {
    -fx-background-color: #bd6a61;
}

.enter {
    -fx-background-color: #5bb567;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 2);
    -fx-text-fill: #fffcfc;
    -fx-transition: 0.3s;
}

.enter:hover {
    -fx-background-color: #5ea34b;
}

.text-field, .password-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 5px;
    -fx-padding: 8px;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.05), 2, 0, 0, 1);
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #3498db;
    -fx-background-color: #ecf0f1;
}

.manage {
    -fx-background-color: #888888;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 2);
    -fx-text-fill: #fffcfc;
    -fx-transition: 0.3s;
}

.manage:hover {
    -fx-background-color: #606060;
}